# Data #
###################
*.pickle
*.env
*.gz
*.parquet
*.zip

# logs #
###################
*.log
*.text

# vscode #
###################


# bytecode #
############
__pycache__/

# Notebooks files #
###################
.ipynb_checkpoints/

# specific files #
######################


# Exceptions #
######################
